{% extends 'admin_home.html' %}
{% block dashboard %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-k6RqeWeci5ZR/Lv4MR0sA0FfDOM6S5y3mQKk6t2R0wE7t6k4Gx8QQoF5WzDcp5A" crossorigin="anonymous">

<style>
    body{
        background: rgb(241, 239, 240);
background: radial-gradient(circle, rgb(248, 247, 247) 0%, rgb(76, 76, 77) 100%);
    }
</style>

        <div class="row">
            {% for mechanic in data_mech %}

             <div class="col-sm-6 mb-3 mb-sm-0 g-3  ">
             <a href="{% url 'mechistory-admin' mechanic.id %}" style="text-decoration: none;">
          <div class="col-lg-3">
            <img src="{{ mechanic.profile_pic.url }}" class="card-img-top ml-1" style="margin-top: 20%;" alt="..." height="200px">
          </div>
          <div class="col" >
            <div class="card-body">
              <h2 class="card-title" style="font-family: 'Courier New', Courier, monospace;font-weight: bold;">{{mechanic.name}}</h2>
          
            </div>
          </a>
            <ul class="list-group list-group-flush" style="border-radius: 0.75rem;">
              <li class="list-group-item mr-2 jumbotron" >Location <span style="margin-left: 50px;" >:</span>&nbsp;&nbsp;{{mechanic.location}}</li>
    
              <li class="list-group-item mt-2 mr-2">Phone <span style="margin-left: 65px;">:</span>&nbsp;&nbsp;{{mechanic.phone}}</li>
              <li class="list-group-item mt-2 mr-2">Skills <span style="margin-left: 75px;">:</span>&nbsp;&nbsp;{{mechanic.skills}}</li>
              <li class="list-group-item mt-2 mr-2">Experience <span style="margin-left: 35px;">:</span>&nbsp;&nbsp;{{mechanic.experience}}</li>
              <li class="list-group-item mt-2 mr-2">Status <span style="margin-left: 35px;">:</span>&nbsp;&nbsp;{{mechanic.status}}</li>
              <li class="list-group-item mt-2 mr-2">
                <a href="{% url 'reject' mechanic.id %}" class="btn btn-danger"> Reject  Access</a><a href="{% url 'approve_mechanic' mechanic.id %}" class="btn btn-success " style="margin-left: 20px;"> Approve  Access</a></li>
              
            </ul>
          </div>
          </div>
            {% endfor %}
        </div>
    </div>
{% endblock dashboard %}